@{
    ViewBag.Title = "Home Page";
}

<br />
<br />

<a href="/Home/StudentCreate" class="btn btn-block">Student Create</a>
<a href="/Home/StudentView" class="btn btn-block">Student View</a>
<a href="/Department/Department" class="btn btn-block">Department</a>